
<div class="container">
      <div class="row">
	 <div class="col-xs-12">	      
          <div id="photo-header" class="text-center">
            <!-- PHOTO (AVATAR) -->
            <div id="photo" class="hidden-print" >
              <img src="images/avatar.jpg" alt="avatar">
            </div>
            <div id="text-header">
	   <h1><%= @resume.company %>,<br /> my name is <span>Adam</span> and this is my resume for the <%= @resume.position %>  position</h1>
<div class="row visible-print"><p>Adam Walker |  adam@adamlwalker.com  | 301-693-5451</p> </div>
</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-7">
           <!-- summary -->
          <div class="box">
            <h2>Summary</h2>
	    <% det = getlist(Detail).first %><p> <%=raw det.summary %> </p>
         </div>
          <!-- ABOUT ME -->
          <div class="box">
		  <h2>About Me</h2>
		  <p><%=raw det.about %> </p>
          </div>
         
                   <!-- EXPERIENCES -->
<%= render 'experience' %>
      
          <!-- Personal Milestones -->
<%= render 'milestone' %>
              </div> 
        </div> 
        <div class="col-xs-12 col-sm-5">
          <!-- CONTACT -->
<%= render 'contact' %>
    
          <!-- SKILLS -->
<%= render 'skill' %>
          
                 <!-- Software -->
<%= render 'software' %>
          
                 <!-- 3rd party services -->
<%= render 'service' %>
          

          <!-- HOBBIES -->
<%= render 'hobby' %>
      
     <div class="alert alert-danger hidden-print">
      <p>This site is built using Bootstrap, jQuery and Ruby on Rails by <a href="http://adamlwalker.com">Adam Walker</a>, 2015. </p>
      </div>
     <div class="alert alert-info visible-print">
	     <p>To see additional information please visit <%= request.original_url %> </p>
     </div>

    </div>
           <!-- JQUERY -->
    <script src="javascripts/jquery.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="javascripts/bootstrap.min.js"></script>
    <!-- SCRIPTS -->
    <script src="javascripts/scripts.js"></script>
    
      <!-- Popover on Hover -->
  <script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('[id=popover]').popover();
    });
</script>
